@model TaskManagement.Entities.TblDmLabel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">

    <div class="card shadow-lg border-0 rounded-15" style="background-color: #f8f9fa;">
        <div class="card-body p-4">
            <h4 class="card-title text-secondary font-weight-bold mb-3">Thông tin nhãn dán</h4>
            <hr />
            <div class="d-flex">
                <dl class="row">
                    <dt class="col-sm-3 text-secondary font-weight-bold">
                        <i class="fas fa-barcode "></i> @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd class="col-sm-9 text-dark">
                        @Html.DisplayFor(model => model.Code)
                    </dd>

                    <dt class="col-sm-3 text-secondary font-weight-bold">
                        <i class="fa-solid fa-tag"></i> @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9 text-dark">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt class="col-sm-3 text-secondary font-weight-bold">
                        <i class="fa-solid fa-droplet"></i> @Html.DisplayNameFor(model => model.Color)
                    </dt>
                    <dd class="col-sm-9 text-dark">
                        @Html.DisplayFor(model => model.Color)
                    </dd>

                    <dt class="col-sm-3 text-secondary font-weight-bold">
                        <i class="fa-solid fa-message"></i></i> @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-9 text-dark">
                        @Html.DisplayFor(model => model.Description, "{0:MM/dd/yyyy HH:mm}")
                    </dd>
                </dl>
            </div>
            
        </div>

    </div>
    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-link text-secondary">← Trở về</a>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn-custom">
            <i class="fas fa-edit"></i> Chỉnh sửa
        </a>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
}
