@model TaskManagement.Utils.Dtos.PagedResult<TaskManagement.Models.Task.Query.TaskQueryDto>
@using TaskManagement.Utils.Dtos
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mb-4 d-flex justify-content-between align-items-center">
    <h2>DANH SÁCH CÔNG VIỆC</h2>
    <a class="btn-custom" asp-action="Create">Thêm Công Việc</a>
</div>
<table class="tabledpm">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Mức độ ưu tiên</th>
            <th>Nhãn dán</th>         
            <th>Mô tả</th>
            <th>Trạng thái</th>
            <th>Người tạo</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
                <td>
                    @switch (item.Priority)
                    {
                        case 1:
                            <span class="text-danger">Cao</span>
                            break;
                        case 2:
                            <span class="text-warning">Khá cao</span>
                            break;
                        case 3:
                            <span class="text-primary">Trung bình</span>
                            break;
                        case 4:
                            <span class="text-muted">Thấp</span>
                            break;
                        default:
                            <span>Không xác định</span>
                            break;
                    }
                </td>
            <td>
                    @foreach (var label in item.Labels)
                    {
                        <span class="badge me-auto p-2" style="background-color: @label.Color;">@Html.DisplayFor(modelItem => label.Name)</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>         
               <a asp-action="Edit" asp-route-id="@item.Id" class="text-warning mr-3">
                 <i class="fas fa-edit"></i>
               </a>
               <a asp-action="Details" asp-route-id="@item.Id" class="text-info mr-3">
                 <i class="fas fa-info-circle"></i>
               </a>
               <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">
                 <i class="fas fa-trash-alt"></i>
               </a>
            </td>
        </tr>
}
    </tbody>
</table>

@* <div class="pagination"> *@
    @await Component.InvokeAsync("Pager", Model)
@* </div> *@
